/Arbre.class
/Cat.class
/Levenshtein$1.class
/Levenshtein.class
/Lexique.class
/Main.class
/Match.class
/MyParser.class
/Requete.class
/Saisie.class
/TalMain3.class
/tal_sql.tokens
/tal_sqlLexer.class
/tal_sqlParser.class
