<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>jmt</display-name>
	<description>
      Jean-Michel Tomcat
   </description>

	<servlet>
		<servlet-name>LanceRequete</servlet-name>
		<servlet-class>LanceRequete</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LanceRequete</servlet-name>
		<url-pattern>/servlet/LanceRequete</url-pattern>
	</servlet-mapping>
</web-app>